.page {
	/* size: 21cm 29.7cm; */
	/* margin: 30mm 45mm 30mm 45mm; */
	border: 1px solid rgba(0, 0, 0, 0.432);
	padding: 2rem;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;

}

.genaral-info {
	margin-bottom: 10px;
}

h1 {
	font-size: 2rem;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.979);
	padding-bottom: 10px;
}

.profession {
	font-weight: bolder;
	color: rgb(65, 131, 255);
	padding-bottom: 10px;
}

.contact {
	line-height: 1.5;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-weight: bold;
	font-size: 14px;
	font-style: italic;
	color: rgba(0, 0, 0, 0.596);
}

h2 {
	text-decoration: underline;
}

.cv-info {
	display: flex;
    justify-content: space-between;
}
