* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem;
}

/* .cvEdit {
    display: flex;
    flex-direction: column;
} */